body {
    margin: 0;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    background-color: #1d1d1d;
}

#title {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.presentation {
    padding-top: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#main span {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#xp-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

#xp {
    padding-top: 10px;
    text-decoration: none;
}

#xp span {
    position: relative;
    top: 8px;
}

.main {
    padding-top: 180px;
    padding-left: 240px;
    padding-right: 240px;
    color: #818181;
}
